{
  "templates": [
    {
      "id": "1",
      "description": "template for change password",
      "outputFormats": [
        "text",
        "html"
      ],
      "templateResolver": "mustache",
      "localizedTemplates": {
        "en": {
          "header": "Hello message for {{user.name}}",
          "body": "Hello {{user.name}}"
        },
        "de": {
          "header": "Hello message for {{user.name}}",
          "body": "Hallo {{user.name}}"
        }
      },
      "metadata": {
        "date": "21.11.2010"
      }
    }
  ],
  "totalRecords": 1
}
